* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

/*Mobil*/
@media (max-width: 479px) {
  header {
    background-color: white;
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 44px;
  }
  .nav img {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 24px;
    height: 24px;
  }
  .nav .navegador {
    padding: 16px 19px 16px 0px;
    width: 18px;
    height: 12px;
  }
  .nav .navegador label:hover {
    cursor: pointer;
  }
  .nav .navegador #btn-menu {
    display: none;
  }
  .nav .navegador .menu {
    display: none;
  }
  #btn-menu:checked ~ .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    background-color: #0000EC;
    position: fixed;
    left: 0;
    top: 44px;
  }
  #btn-menu:checked ~ .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 224px;
  }
  #btn-menu:checked ~ .menu ul li {
    width: 87px;
    height: 28px;
    padding-left: 16px;
  }
  #btn-menu:checked ~ .menu ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
  }
  .heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 29px 82px 16px 16px;
  }
  .heading p {
    margin: 0;
    font-size: 36px;
    height: 42px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #060A24;
  }
  .heading .hello {
    width: 85px;
  }
  .heading .world {
    width: 101px;
    text-decoration: line-through;
    text-align: end;
  }
  .heading .pale {
    width: 212px;
  }
  .heading .dot {
    width: 10px;
  }
  .first-description {
    font-family: 'IBM Plex Mono', monospace;
    color: #060A24;
    font-size: 14px;
    line-height: 22px;
    width: 288px;
    height: 66px;
    padding-left: 16px;
    padding: 16px;
  }
  .conoce {
    background-color: #00F3BB;
    width: 288px;
    height: 48px;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    font-weight: 500;
    margin: 36px 16px 24px 16px;
  }
  .conoce p {
    padding: 13px 96px 13px 96px;
  }
  /*PARA LOS ESPACIOS ENTRE NAV HELLO Y DEMAS
USAR PADDIN*/
  main {
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  }
  main .lastone {
    padding-bottom: 48px;
  }
  .podcast img {
    width: 298px;
    height: 225px;
    padding: 0px 11px 11px 11px;
  }
  .episodios {
    width: 157px;
    height: 42px;
    color: #FFFFFF;
    padding: 64px 147px 21px 16px;
    font-size: 36px;
    font-family: 'IBM Plex Sans', sans-serif;
  }
  .de-donde-venimos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 360px;
    position: relative;
    left: -20px;
    height: 519px;
  }
  .de-donde-venimos img {
    width: 100%;
  }
  .donde {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #060A24;
    font-size: 36px;
    line-height: 42px;
    height: 84px;
    width: 288px;
    padding: 27px 16px 8px 16px;
  }
  .posturings {
    font-family: 'IBM Plex Mono', monospace;
    color: #060A24;
    font-size: 14px;
    line-height: 22px;
    height: 254px;
    width: 288px;
    padding: 0px 16px 54px 16px;
  }
  .invitados {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #060A24;
    font-size: 36px;
    line-height: 42px;
    height: 84px;
    width: 288px;
    padding: 0px 16px 14px 16px;
  }
  .galeria {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .galeria img {
    width: 100%;
  }
  footer {
    background-color: green;
  }
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/*Inter*/
@media (min-width: 480px) and (max-width: 1199px) {
  header {
    background-color: red;
  }
  main {
    background-color: yellow;
  }
  footer {
    background-color: green;
  }
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/*Desktop*/
@media (min-width: 1200px) {
  header {
    background-color: red;
  }
  main {
    background-color: yellow;
  }
  footer {
    background-color: green;
  }
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=styles.css.map */