@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

/*Mobil*/
@media (max-width: 980px) {
  /*Encabezados*/
  header .inheader h2 {
    font-size: 36px;
    line-height: 42px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 100;
  }
  /*Color oscuro*/
  header .inheader h2, header p {
    color: #060A24;
  }
  /*Fuentes*/
  header p, header #btn-menu:checked ~ .menu, header #btn-conoce {
    font-family: 'IBM Plex Mono', monospace;
  }
  header {
    padding-left: 5%;
    padding-right: 5%;
  }
  header .inheader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    margin-bottom: 16px;
  }
  header .inheader .hello {
    width: 85px;
  }
  header .inheader .world {
    width: 101px;
    text-decoration: line-through;
    text-align: end;
  }
  header .inheader .pale {
    width: 212px;
  }
  header .inheader .dot {
    width: 10px;
  }
  header p {
    font-size: 14px;
    line-height: 22px;
    display: inline;
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 0.8%;
  }
  header nav img {
    width: 24px;
    height: 24px;
  }
  header nav nav {
    /*.navegador*/
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 3px;
    width: 18px;
    height: 12px;
  }
  header nav nav label:hover {
    cursor: pointer;
  }
  header nav nav #btn-menu {
    display: none;
  }
  header #btn-menu:not(checked) ~ .menu {
    display: none;
  }
  header #btn-menu:not(checked) ~ label .fa-times {
    display: none;
  }
  header #btn-menu:checked ~ label .fa-times {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header #btn-menu:checked + label .fa-bars {
    display: none;
  }
  header #btn-menu:checked + label .fa-bars {
    display: none;
  }
  header #btn-menu:checked ~ .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    right: 0;
    width: 100%;
    z-index: 1;
    background-color: #0000EC;
    position: absolute;
    top: 44px;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 224px;
  }
  header #btn-menu:checked ~ .menu :first-child:hover {
    color: #00F3BB;
    text-decoration: line-through;
  }
  header #btn-menu:checked ~ .menu li {
    width: 87px;
    height: 28px;
    padding-left: 16px;
  }
  header #btn-menu:checked ~ .menu li a {
    display: block;
    color: #fff;
    text-decoration: none;
  }
  header #btn-conoce {
    background-color: #00F3BB;
    width: 288px;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    margin: 36px 0 24px 0;
    padding: 13px 96px 13px 96px;
    border: 0;
  }
  header #btn-conoce:hover {
    color: #fff;
    background: -webkit-gradient(linear, left top, right top, from(#00F0B8), to(#0000FE));
    background: linear-gradient(to right, #00F0B8, #0000FE);
  }
  /*Encabezados*/
  main .one h2, main .two .donde, main .two .invitados, main .two .algunos, main .three .ultimas-novedades {
    font-size: 36px;
    line-height: 42px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 100;
  }
  /*Color oscuro*/
  main .two .donde, main .two .posturings p, main .two .invitados, main .two .algunos, main .two .lista .with-words a, main .two .lista #repensando a, main .three .escucha a {
    color: #060A24;
  }
  /*Fuentes*/
  main .two .posturings p, main .three .escucha {
    font-family: 'IBM Plex Mono', monospace;
  }
  main .two .lista .with-words, main .two .lista #repensando {
    font-family: 'IBM Plex Sans', sans-serif;
  }
  main .one {
    -webkit-clip-path: polygon(0% 3%, 100% 0%, 100% 97%, 0% 100%);
            clip-path: polygon(0% 3%, 100% 0%, 100% 97%, 0% 100%);
    background: -webkit-gradient(linear, left bottom, left top, from(#0000A3), to(#0000FF));
    background: linear-gradient(to top, #0000A3, #0000FF);
    padding-left: 11px;
    padding-right: 11px;
    height: 1203.5px;
  }
  main .one h2 {
    width: 157px;
    height: 42px;
    color: #FFFFFF;
    padding: 64px 147px 21px 5px;
  }
  main .one .podcasts iframe {
    width: 100%;
    height: 232px;
    padding-bottom: 11px;
    border: 0;
  }
  main .two {
    position: relative;
    top: -80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .two .phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 360px;
    position: relative;
    left: -20px;
    height: 519px;
    -ms-flex-item-align: center;
        align-self: center;
  }
  main .two .phone img {
    width: 100%;
  }
  main .two .donde {
    height: 84px;
    width: 288px;
    padding: 27px 16px 8px 16px;
  }
  main .two .posturings p {
    font-size: 14px;
    line-height: 22px;
    height: 254px;
    width: 288px;
    padding: 0px 16px 54px 16px;
  }
  main .two .invitados {
    height: 84px;
    width: 288px;
    padding: 0px 16px 14px 16px;
  }
  main .two .galeria {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .two .galeria img {
    width: 100%;
  }
  main .two .algunos {
    height: 84px;
    width: 288px;
    padding: 48px 16px 37px 16px;
  }
  main .two .lista {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
    padding-bottom: 42px;
  }
  main .two .lista .with-img {
    padding: 13px 108px;
  }
  main .two .lista .with-words {
    font-size: 24px;
    line-height: 32px;
    width: 288px;
    height: 32px;
    padding: 0px 16px 0px 16px;
    text-align: center;
  }
  main .two .lista .with-words a {
    text-decoration: none;
    font-weight: bold;
  }
  main .two .lista #repensando {
    font-size: 24px;
    line-height: 32px;
    width: 288px;
    height: 64px;
    padding: 0px 16px;
    text-align: center;
  }
  main .two .lista #repensando a {
    text-decoration: none;
    font-weight: bold;
  }
  main .three {
    -webkit-clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
    background: -webkit-gradient(linear, left bottom, right top, from(#0000A3), to(#0000FF));
    background: linear-gradient(to top right, #0000A3, #0000FF);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .three .ultimas-novedades {
    width: 288px;
    height: 126px;
    padding: 64px 16px 36px 16px;
    text-align: center;
    color: #FFFFFF;
  }
  main .three .escucha {
    background-color: #00F3BB;
    width: 288px;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    margin: 0px 16px 67px 16px;
  }
  main .three .escucha a {
    text-decoration: none;
  }
  main .three .escucha p {
    padding: 13px 43px;
  }
  /*Color oscuro*/
  footer .social-list li a {
    color: #060A24;
  }
  /*Fuentes*/
  .copyright {
    font-family: 'IBM Plex Mono', monospace;
  }
  footer {
    background-color: white;
    position: relative;
    top: -57px;
    background-color: #ffffff;
  }
  footer .social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding: 0px 45px 31px 45px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .social-list li a {
    width: 16px;
    height: 28px;
    font-size: 16px;
  }
  .copyright {
    width: 227px;
    height: 22px;
    font-size: 14px;
    margin: 24px 46px 16px 47px;
  }
  .copyright p {
    padding: 13px 43px 13px 43px;
  }
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/*

@media (min-width:480px) and (max-width:1199px) {
    @import "./inter-styles/i-header.scss";
    @import "./inter-styles/i-main.scss";
    @import "./inter-styles/i-footer.scss";
    @import "./mobile-styles/mobil.scss";
}

*/
/*Desktop*/
@media (min-width: 981px) {
  /*Encabezados*/
  header .inheader h2 {
    font-size: 64px;
    line-height: 84px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 100;
  }
  /*Color oscuro*/
  header .inheader h2, header p, nav nav .menu li a {
    color: #060A24;
  }
  /*Fuentes*/
  header p, #btn-conoce, nav nav .menu {
    font-family: 'IBM Plex Mono', monospace;
  }
  header {
    padding-left: 100px;
  }
  header .inheader {
    padding-top: 120px;
    padding-left: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header .inheader .hello {
    width: 152px;
  }
  header .inheader .world {
    width: 179px;
    text-decoration: line-through;
    text-align: end;
  }
  header .inheader .pale {
    width: 391px;
    text-align: end;
  }
  header .inheader .dot {
    width: 18px;
    color: #0000ff;
  }
  header p {
    font-size: 16px;
    line-height: 24px;
    display: inline;
  }
  header .sentences {
    width: 628px;
    padding-left: 100px;
  }
  header .second-sentence {
    padding: 0;
  }
  header .first-sentence::after {
    content: " y la tecnología";
  }
  #btn-conoce {
    background-color: #00F3BB;
    width: 226px;
    height: 56px;
    font-size: 18px;
    font-weight: 500;
    margin: 56px 0 5px 100px;
    padding: 16px 59px;
    border: 0;
    line-height: 24px;
  }
  #btn-conoce:hover {
    color: #fff;
    background: -webkit-gradient(linear, left top, right top, from(#00F0B8), to(#0000FE));
    background: linear-gradient(to right, #00F0B8, #0000FE);
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80px;
    padding-left: 0;
    padding-right: 100px;
    /*.navegador*/
  }
  nav img {
    padding-top: 22px;
    padding-bottom: 22px;
    width: 36px;
    height: 36px;
  }
  nav nav {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 3px;
  }
  nav nav label:hover {
    cursor: pointer;
  }
  nav nav #btn-menu {
    display: none;
  }
  nav nav label {
    display: none;
  }
  nav nav .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
  }
  nav nav .menu :first-child:hover {
    color: #00F3BB;
    text-decoration: line-through;
  }
  nav nav .menu li {
    padding-left: 48px;
  }
  nav nav .menu li a {
    text-decoration: none;
  }
  /*Encabezados*/
  main .one h2, main .two .donde, main .two .invitados, main .two .algunos, main .three .ultimas-novedades {
    font-size: 48px;
    line-height: 62px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 100;
  }
  /*Color oscuro*/
  main .two .donde, main .two .posturings p, main .two .invitados, main .two .algunos, main .two .lista .with-words a, main .two .lista #repensando a, main .three .escucha a {
    color: #060A24;
  }
  /*Fuentes*/
  main .two .posturings p, main .three .escucha {
    font-family: 'IBM Plex Mono', monospace;
  }
  main .two .lista .with-words, main .two .lista #repensando {
    font-family: 'IBM Plex Sans', sans-serif;
  }
  main .one {
    -webkit-clip-path: polygon(0% 15%, 100% 0%, 100% 85%, 0% 100%);
            clip-path: polygon(0% 15%, 100% 0%, 100% 85%, 0% 100%);
    background: -webkit-gradient(linear, left top, right top, from(#0000A3), to(#0000FF));
    background: linear-gradient(to right, #0000A3, #0000FF);
    padding-left: 11px;
    padding-right: 11px;
    height: 1042.6px;
  }
  main .one h2 {
    width: 209px;
    height: 62px;
    color: #FFFFFF;
    padding: 186px 0px 26px 189px;
  }
  main .one .podcasts {
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 232px 232px;
    -ms-grid-columns: 40.6% 40.6%;
        grid-template: 232px 232px / 40.6% 40.6%;
    grid-gap: 72px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .one .podcasts iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }
  main .two {
    margin-top: -175px;
    z-index: 2;
    position: relative;
    display: -ms-grid;
    display: grid;
    
        grid-template: 330px 330px 162px 728px 182px 197px/repeat(2, 1fr);
  }
  main .two .phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 457.6px;
    height: 660px;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / span 1 / span 1;
    justify-self: center;
    padding-left: 200px;
  }
  main .two .phone img {
    width: 100%;
  }
  main .two span {
    display: none;
  }
  main .two .donde {
    height: 84px;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1 / 2 / span 1 / span 1;
  }
  main .two .posturings {
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
  main .two .posturings p {
    font-size: 14px;
    line-height: 22px;
    height: 254px;
    width: 288px;
  }
  main .two .invitados {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 3 / 1 / 4 / span 2;
    height: 62px;
    width: 481px;
    padding-left: 200px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  main .two .galeria {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 4 / 1 / span 1 / span 2;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  main .two .galeria img {
    width: 33.3%;
    height: 50%;
  }
  main .two .algunos {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 5 / 1 / span 1 / span 1;
    height: 62px;
    width: 586px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: end;
        justify-self: end;
  }
  main .two .lista {
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 6 / 1 / span 1 / span 2;
    display: -ms-grid;
    display: grid;
    
    grid-template: 1fr 1fr/repeat(4, 220px);
    grid-auto-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
    margin: auto;
    -webkit-column-gap: 40px;
            column-gap: 40px;
  }
  main .two .lista .with-img {
    -ms-grid-column-align: center;
        justify-self: center;
    width: 104px;
    height: 104px;
  }
  main .two .lista .with-words {
    font-size: 24px;
    line-height: 32px;
    width: 220px;
    height: 32px;
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: center;
  }
  main .two .lista .with-words a {
    text-decoration: none;
    font-weight: bold;
  }
  main .two .lista #repensando {
    font-size: 24px;
    line-height: 32px;
    width: 288px;
    height: 64px;
    padding: 0px 16px 0px 16px;
    text-align: center;
  }
  main .two .lista #repensando a {
    text-decoration: none;
    font-weight: bold;
  }
  main .three {
    background: linear-gradient(177deg, #fff 14%, #0000FF 14.3%, #0000A3 87%);
    height: 518px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .three .ultimas-novedades {
    width: 692px;
    height: 62px;
    text-align: center;
    color: #FFFFFF;
  }
  main .three .escucha {
    background-color: #00F3BB;
    width: 345px;
    height: 56px;
    font-size: 18px;
    font-weight: 500;
  }
  main .three .escucha a {
    text-decoration: none;
  }
  main .three .escucha p {
    padding: 16px 59px;
  }
  /*Color oscuro*/
  .social-list li a {
    color: #060A24;
  }
  /*Fuentes*/
  .copyright {
    font-family: 'IBM Plex Mono', monospace;
  }
  footer {
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .copyright {
    width: 227px;
    height: 22px;
    font-size: 14px;
    margin: 36px 0px 31px 100px;
  }
  .copyright p {
    padding: 13px 43px 13px 43px;
  }
  .social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding-right: 100px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .social-list li {
    padding: 36px 0px 31px 36px;
  }
  .social-list li a {
    width: 16px;
    height: 28px;
    font-size: 16px;
  }
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=styles.css.map */