/*Color oscuro*/
%dark-color-f-m{color: #060A24;}
/*Fuentes*/
%font-mono-f-m{font-family: 'IBM Plex Mono', monospace;}

footer {

    background-color: white;
    position: relative;
    top: -57px;

    background-color: #ffffff;
    

    .social-list {
        display: flex;
        list-style: none;
        padding: 0px 45px 31px 45px;
        justify-content: space-between;
        li{
            a{
                @extend %dark-color-f-m;
                width: 16px;
                height: 28px;
                font-size: 16px;                      
            }
        }
    }
}

.copyright {
    width: 227px;
    height: 22px;
    @extend %font-mono-f-m;
    font-size: 14px;
    margin: 24px 46px 16px 47px;

    p {
        padding: 13px 43px 13px 43px;
    }
}

