/*Encabezados*/
%h2-h-m{
    font-size: 36px;
    line-height: 42px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 100;
}
/*Color oscuro*/
%dark-color-h-m{color: #060A24;}
/*Fuentes*/
%font-mono-h-m{font-family: 'IBM Plex Mono', monospace;}


header {
    padding-left: 5%;
    padding-right: 5%;

    header {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin-bottom: 16px;

        h2{
            @extend %h2-h-m;
            @extend %dark-color-h-m;           
        }

        .hello {
            width: 85px;
        }

        .world {
            width: 101px;
            text-decoration: line-through;
            text-align: end;
        }

        .pale {
            width: 212px;
        }

        .dot {
            width: 10px;
        }
    }

    p {
        @extend %font-mono-h-m;
        @extend %dark-color-h-m;
        font-size: 14px;
        line-height: 22px;
        display: inline;
        
    }
    
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 0.8%;
    
        img {
            width: 24px;
            height: 24px;
        }
    
        nav {
            /*.navegador*/
            padding-top: 16px;
            padding-bottom: 16px;
            padding-right: 3px;
            width: 18px;
            height: 12px;
    
            label:hover {
                cursor: pointer;
            }
    
            #btn-menu {
                display: none;
            }
            
        }
    }
    
    #btn-menu:not(checked)~.menu {
        display: none;
    }
    #btn-menu:not(checked)~ label .fa-times{
        display: none;
    }
    #btn-menu:checked~ label .fa-times{
        display: flex;
    }







    #btn-menu:checked + label .fa-bars{
        display: none;
    }

    

    #btn-menu:checked + label .fa-bars{
        display: none;
    }

    #btn-menu:checked~.menu {
        @extend %font-mono-h-m;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        right: 0;
        width: 100%;
        z-index: 1;
        background-color: #0000EC;
        position: absolute;       
        top: 44px;
        list-style: none;
        padding: 0;
        margin: 0;
        height: 224px;
        :first-child:hover{
            color: #00F3BB;
            text-decoration: line-through;

        }
        li {
            width: 87px;
            height: 28px;
            padding-left: 16px;
    
            a {
                display: block;
                color: #fff;
                text-decoration: none;
            }
        }
    }
    
    #btn-conoce {
        background-color: #00F3BB;
        width: 288px;
        height: 48px;
        @extend %font-mono-h-m;
        font-size: 16px;
        font-weight: 500;
        margin: 36px 0 24px 0;
        padding: 13px 96px 13px 96px;
        border: 0;
    }
    #btn-conoce:hover {
        color: #fff;
        background: linear-gradient(to right, #00F0B8,#0000FE);
    }
}

