header {
    background-color: white;
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
    
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 44px;

    img {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 24px;
        height: 24px;
    }

    .navegador {
        padding-top: 16px;
        padding-bottom: 16px;
        padding-right: 3px;
        width: 18px;
        height: 12px;
    
        label:hover {
            cursor: pointer;
        }
    
        #btn-menu {
            display: none;
        }
    
        .menu {
            display: none;
        }
    }
}




#btn-menu:checked~.menu {
    display: flex;
    width: 100%;
    background-color: #0000EC;
    position: fixed;
    left: 0;
    top: 44px;


    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        list-style: none;
        width: 100%;
        padding: 0;
        margin: 0;
        height: 224px;

        li {
            width: 87px;
            height: 28px;
            padding-left: 16px;

            a {
                display: block;
                color: #fff;
                text-decoration: none;
            }
        }
    }
}

.heading {
    display: flex;
    flex-wrap: wrap;
    p {
        margin: 0;
        font-size: 36px;
        height: 42px;
        font-family: 'IBM Plex Sans', sans-serif;
        color: #060A24;
    }
    .hello{
        width: 85px;
    }
    .world{
        width: 101px;
        text-decoration: line-through;
        text-align: end;
    }
    .pale{
        width: 212px;
    }
    .dot{
        width: 10px;
    }
}
.first-description{
    font-family: 'IBM Plex Mono', monospace;
    color: #060A24;
    font-size: 14px;
    line-height: 22px;
    width: 288px;
    height: 66px;
    padding-top: 16px;
}


.conoce{
    background-color: #00F3BB;
    width: 288px;
    height: 48px;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    font-weight: 500;
    margin: 36px 0 24px 0;
    p{
        padding: 13px 96px 13px 96px;
    }

}

