%h-m-2 {
    font-size: 48px;
    line-height: 62px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 100;
}

%dark-color-m- {
    color: #060A24;
}

main {
    .one {
        background: linear-gradient(174deg, #fff 14%, #0000FF 14.3%, #0000A3 87%, #fff 87.3%);
        padding-left: 11px;
        padding-right: 11px;
        height: 1042.6px;

        h2 {
            width: 209px;
            height: 62px;
            color: #FFFFFF;
            padding: 186px 1031px 26px 200px;
            @extend %h-m-2;
        }

        .podcasts {
            padding: 0 100px 64px 100px;
            margin: auto;
            display: grid;
            grid-template: 232px 232px / 584px 584px;
            grid-gap: 72px;

            iframe {
                width: 584px;
                height: 232px;
                padding-bottom: 11px;
                border: 0;

            }
        }

    }

    .two {
        position: absolute;
        top: 1323px;
        display: grid;
        grid-template: 330px 330px 162px 728px 182px 197px / repeat(2, 1fr);


        .phone {
            display: flex;
            width: 457.6px;
            height: 660px;
            grid-area: 1 / 1 / span 1 / span 1;
            justify-self: center;
            padding-left: 200px;

            img {
                width: 100%;

            }

        }

        span {
            display: none;
        }

        .donde {
            @extend %dark-color-m-;
            height: 84px;

            align-self: end;
            @extend %h-m-2;
            grid-area: 1 / 2 / span 1 / span 1;

        }

        .posturings {
            grid-row-start: 2;
            grid-column-start: 2;
        }

        .posturings p {
            font-family: 'IBM Plex Mono', monospace;
            @extend %dark-color-m-;
            font-size: 14px;
            line-height: 22px;
            height: 254px;
            width: 288px;


        }

        .invitados {
            grid-area: 3 / 1 / 4 / span 2;
            @extend %dark-color-m-;
            height: 62px;
            width: 481px;
            padding-left: 200px;
            @extend %h-m-2;
            align-self: center;
        }

        .galeria {
            grid-area: 4 / 1 / span 1 / span 2;
            width: 100%;
            display: flex;
            flex-wrap: wrap;

            img {
                width: 480px;
                height: 364px;
            }
        }

        .algunos {
            grid-area: 5 / 1 / span 1 / span 1;
            @extend %h-m-2;
            @extend %dark-color-m-;
            height: 62px;
            width: 586px;
            align-self: center;
            justify-self: end;

        }

        .lista {
            grid-area: 6 / 1 / span 1 / span 2;
            display: grid;
            grid-template: 1fr 1fr / repeat(4, 220px);
            grid-auto-flow: column;
            align-items: center;
            list-style: none;
            margin: auto;
            column-gap: 40px;


            .with-img {
                justify-self: center;
                width: 104px;
                height: 104px;
            }

            .with-words {
                font-family: 'IBM Plex Sans', sans-serif;
                font-size: 24px;
                line-height: 32px;
                width: 220px;
                height: 32px;
                justify-self: center;
                text-align: center;

                a {
                    text-decoration: none;
                    @extend %dark-color-m-;
                    font-weight: bold;
                }
            }

            #repensando {
                font-family: 'IBM Plex Sans', sans-serif;
                font-size: 24px;
                line-height: 32px;
                width: 288px;
                height: 64px;
                padding: 0px 16px 0px 16px;
                text-align: center;

                a {
                    text-decoration: none;
                    @extend %dark-color-m-;
                    font-weight: bold;
                }
            }
        }


    }

    .three {
        background: linear-gradient(177deg, #fff 14%, #0000FF 14.3%, #0000A3 87%);
        height: 518px;
        position: absolute;
        top: 3299px;

        .ultimas-novedades {
            @extend %h-m-2;
            width: 692px;
            height: 62px;
            padding: 213px 374px 36px 374px;
            text-align: center;
            color: #FFFFFF;
        }

        .escucha {
            background-color: #00F3BB;
            width: 345px;
            height: 56px;
            font-family: 'IBM Plex Mono', monospace;
            font-size: 18px;
            font-weight: 500;
            margin: 0px 548px 151px 547px;

            p {
                padding: 16px 59px;
            }
        }
    }
}